         <div ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title monaco">Upgrade Eligibility</h3>
                </div>
                <section class="modal-body">


                    <ul class="list-inline row">
                        <li class="col-md-2 text-center ">
                            <h4 class="text-center monaco"> Plan ID </h4>
                            <ul class="no-bullet-li">
                                <li class="no-bullet-li row">
                                    <input ng-repeat="planid in planids" class="gap-li form-control monaco-p full-input" value=" {{planid.planId}}">
                                    </input>
                                </li>
                            </ul>
                        </li>

                        <li class="col-md-2 text-center">
                            <h4 class="text-center monaco"> On </h4>
                            <ul class="no-bullet-li">
                                <li class="no-bullet-li ">
                                    <input type="checkbox" ng-repeat="planid in planids" class="gap-li form-control-check monaco-p align-center" ng-checked=" {{planid.on}}">
                                    </input>
                                </li>
                            </ul>
                        </li>

                        <li class="col-md-5 text-center">
                            <h4 class="text-center monaco">Plan Description</h4>
                            <ul class="no-bullet-li">
                                <li>
                                    <input ng-repeat="planid in planids" class="gap-li form-control monaco-p full-input" value=" {{planid.planDescription}}">
                                    </input>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3 text-center">
                            <h4 class="text-center monaco">Group No</h4>
                            <ul class="no-bullet-li">
                                <li>
                                    <input ng-repeat="planid in planids" class="gap-li form-control monaco-p full-input" value=" {{planid.groupId}}">
                                    </input>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <hr>





                    <h3 class="monaco">Country Plans</h3>
                    <ul class="list-inline row">
                        <li class="col-md-2 text-center ">
                            <h4 class="text-center monaco"> Plan ID </h4>
                            <ul class="no-bullet-li">
                                <li class="no-bullet-li row">
                                    <input ng-repeat="planid in country_planids" class="gap-li form-control monaco-p full-input" value=" {{planid.planId}}">
                                    </input>
                                </li>
                            </ul>
                        </li>

                        <li class="col-md-2 text-center">
                            <h4 class="text-center monaco"> On </h4>
                            <ul class="no-bullet-li">
                                <li class="no-bullet-li ">
                                    <input type="checkbox" ng-repeat="planid in country_planids" class="gap-li form-control-check monaco-p align-center" ng-checked=" {{planid.on}}">
                                    </input>
                                </li>
                            </ul>
                        </li>

                        <li class="col-md-5 text-center">
                            <h4 class="text-center monaco">Plan Description</h4>
                            <ul class="no-bullet-li">
                                <li>
                                    <input ng-repeat="planid in country_planids" class="gap-li form-control monaco-p full-input" value=" {{planid.planDescription}}">
                                    </input>
                                </li>
                            </ul>
                        </li>
                        <li class="col-md-3 text-center">
                            <h4 class="text-center monaco">Group No</h4>
                            <ul class="no-bullet-li">
                                <li>
                                    <input ng-repeat="planid in country_planids" class="gap-li form-control monaco-p full-input" value=" {{planid.groupId}}">
                                    </input>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>


          
            <!-- Selected: <b>{{ selected.item }}</b> -->

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Add More Plans</button>
            <button class="btn btn-success" ng-click="update()">Update</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </script>

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <button class="btn unique btn-default" ng-click="open('lg')">Large modal</button>

        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
    </div>